/* Mobile and Tablet */
@media (max-width: 768px) {

}

/* Laptop and Desktops screens */
@media (min-width: 769px) {
  .main-container{
display: flex;
justify-content: center;

  }
.App{
  background-color: #f2f3f7;
  width: 91%;
  height: auto;
}
}